[Unit]
Description=OpenShift
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/mnt/DATA/oc
ExecStart=/mnt/DATA/oc/adm/oc_start.sh
ExecStop=/mnt/DATA/oc/adm/oc_stop.sh
TimeoutSec=infinity
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
